:root {
    --black: rgb(0, 0, 0);
    --grey: rgb(205, 205, 205);
    --white: rgb(240, 240, 240);
    --red: rgb(36, 206, 59);
    --light-blue: rgb(52, 75, 132);
    --font-light: "AirbnbCerealLight", sans-serif;
    --font-book: "AirbnbCerealBook", sans-serif;
    --font-black: "AirbnbCerealBlack", sans-serif;
    color: var(--black);
    font-family: var(--font-light);
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }
  
@font-face {
    font-family: "AirbnbCerealLight";
    src: url(./fonts/AirbnbCerealLight.woff);
}
  
@font-face {
    font-family: "AirbnbCerealBook";
    src: url(./fonts/AirbnbCerealBook.woff);
}
  
@font-face {
    font-family: "AirbnbCerealMedium";
    src: url(./fonts/AirbnbCerealMedium.woff);
}
  
@font-face {
    font-family: "AirbnbCerealBold";
    src: url(./fonts/AirbnbCerealBold.woff);
}
  
@font-face {
    font-family: "AirbnbCerealBlack";
    src: url(./fonts/AirbnbCerealBlack.woff);
}

.calendar {
    box-sizing: border-box;
    font-size: 1rem;
    /* max-width: 400px; */
    margin: 0;
    padding: 0;
    background-color: white;
}
  
.calendar .header {
    background-color: var(--light-blue);
    text-align: center;
    min-height: 2rem;
    line-height: 2rem;
    color: var(--black);
    font-family: var(--font-book);
    font-weight: 700;
    display: flex;
}
  
.calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}
  
.calendar .body {
    border: 1px solid var(--light-blue);
}
  
.calendar .header .previous {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
}
  
.calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}
  
.calendar div {
    text-transform: uppercase;
}

.calendar .week {
    background-color: white;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 400;
}

.calendar .week div {
    width: 100%;
}
  
.calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 44px;
    display: inline-block;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
}
  
.calendar .day button {
    width: 54px;
    height: 44px;
    position: relative;
    color: var(--black);
    z-index: 100;
    line-height: 44px;
}
  
.calendar .day button.before {
    color: var(--grey);
    
}
  
.calendar .day button.selected {
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
    width: 100%;
}
  
.calendar .day button.today {
    background-color: var(--grey);
    width: 100%;
}